.favorites-container {
  background-color: rgb(255, 248, 240);
  padding-block: 0.5em;
  display: flex;
  flex-direction: column;

  .product-card {
    width: 800px;
    height: 400px;
    margin: 2rem auto;
    .img-cont {
      background-color: white;
      .product-image {
        border-radius: 0%;
        width: 330px;
        height: 320px;
      }
    }
  }
  .alert {
    background-color: #fee6b8;
    width: 50%;
    border: solid 2px rgb(245, 185, 73);
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.2rem;
  }
  button {
    background-color: rgb(245, 185, 73);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
  }
}
.empty-favorite {
  width: 50%;
  margin: 3rem auto;
  font-size: 1.4rem;
  padding: 3rem;
  text-align: center;
  .brocken-heart {
    color: rgb(245, 185, 73);
    font-size: 13rem;
  }
  .back-to-prod {
    a {
      color: white;
    }
    background-color: rgb(245, 185, 73);
    color: white;
    text-decoration: none;
    width: 40%;
    margin: 1rem auto;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.3rem 0;
    border-radius: 5px;
  }
  // button {
  //   a {
  //     text-decoration: none;
  //     color: white;
  //     // color: rgb(245, 185, 73);
  //   }
  //   width: 50%;
  //   margin: 3rem auto;
  //   display: block;
  //   // background-color: #fee6b8;
  //   color: rgb(245, 185, 73);
  //   background-color: rgb(245, 185, 73);
  //   // color: white;
  //   padding: 5px;
  //   font-size: 1.5rem;
  //   font-weight: 500;
  //   // text-transform: uppercase;

  //   border: none;
  //   border-radius: 10px;
  // }
}
.go-up.visible:hover {
  background-color: white;
  border: 3px solid rgb(245, 185, 73);
  color: rgb(245, 185, 73);
  .up-arrow {
    // color: rgb(245, 185, 73);
    color: rgb(245, 185, 73);
    //  background-color: ;
  }
}
.go-up.visible {
  display: block;
  font-size: 2rem;
  padding: 0px 6px 2px 6px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  border: 3px solid rgb(245, 185, 73);
  color: white;
  // background-color: #fee6b8;
  background-color: rgb(245, 185, 73);
  z-index: 1000;
  .up-arrow {
    // color: rgb(245, 185, 73);
    color: white;
    //  background-color: ;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .favorites-container {
    background-color: rgb(255, 248, 240);
    padding-block: 0.5em;
    display: flex;
    flex-direction: column;

    .product-card {
      width: 800px;
      height: 400px;
      margin: 2rem auto;
      .img-cont {
        background-color: white;
        .product-image {
          border-radius: 0%;
          width: 330px;
          height: 320px;
        }
      }
    }
    button {
      background-color: rgb(245, 185, 73);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
    }
  }
  .empty-favorite {
    width: 80%;
    margin: 3rem auto;
    font-size: 1.4rem;
    padding: 3rem;
    text-align: center;
    .brocken-heart {
      color: rgb(245, 185, 73);
      font-size: 13rem;
    }
    .back-to-prod {
      a {
        color: white;
      }
      background-color: rgb(245, 185, 73);
      color: white;
      text-decoration: none;
      width: 40%;
      margin: 1rem auto;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0.3rem 0;
      border-radius: 5px;
    }
    // button {
    //   a {
    //     text-decoration: none;
    //     color: white;
    //     // color: rgb(245, 185, 73);
    //   }
    //   width: 50%;
    //   margin: 3rem auto;
    //   display: block;
    //   // background-color: #fee6b8;
    //   color: rgb(245, 185, 73);
    //   background-color: rgb(245, 185, 73);
    //   // color: white;
    //   padding: 5px;
    //   font-size: 1.5rem;
    //   font-weight: 500;
    //   // text-transform: uppercase;

    //   border: none;
    //   border-radius: 10px;
    // }
  }
  .go-up.visible:hover {
    background-color: white;
    border: 3px solid rgb(245, 185, 73);
    color: rgb(245, 185, 73);
    .up-arrow {
      // color: rgb(245, 185, 73);
      color: rgb(245, 185, 73);
      //  background-color: ;
    }
  }
  .go-up.visible {
    display: block;
    font-size: 2rem;
    padding: 0px 6px 2px 6px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    border: 3px solid rgb(245, 185, 73);
    color: white;
    // background-color: #fee6b8;
    background-color: rgb(245, 185, 73);
    z-index: 1000;
    .up-arrow {
      // color: rgb(245, 185, 73);
      color: white;
      //  background-color: ;
    }
  }
}

@media (max-width: 480px) {
  .favorites-container {
    background-color: rgb(255, 248, 240);
    padding-block: 0.5em;
    display: flex;
    flex-direction: column;

    .product-card {
      width: 800px;
      height: 400px;
      margin: 2rem auto;
      .img-cont {
        background-color: white;
        .product-image {
          border-radius: 0%;
          width: 330px;
          height: 320px;
        }
      }
    }
    button {
      background-color: rgb(245, 185, 73);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
    }
  }
  .empty-favorite {
    width: 80%;
    margin: 3rem auto;
    font-size: 1rem;
    padding: 3rem;
    text-align: center;
    .brocken-heart {
      color: rgb(245, 185, 73);
      font-size: 8rem;
    }
    .back-to-prod {
      a {
        color: white;
      }
      background-color: rgb(245, 185, 73);
      color: white;
      text-decoration: none;
      width: 70%;
      margin: 1rem auto;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.3rem 0;
      border-radius: 5px;
    }
    // button {
    //   a {
    //     text-decoration: none;
    //     color: white;
    //     // color: rgb(245, 185, 73);
    //   }
    //   width: 50%;
    //   margin: 3rem auto;
    //   display: block;
    //   // background-color: #fee6b8;
    //   color: rgb(245, 185, 73);
    //   background-color: rgb(245, 185, 73);
    //   // color: white;
    //   padding: 5px;
    //   font-size: 1.5rem;
    //   font-weight: 500;
    //   // text-transform: uppercase;

    //   border: none;
    //   border-radius: 10px;
    // }
  }
  .go-up.visible:hover {
    background-color: white;
    border: 3px solid rgb(245, 185, 73);
    color: rgb(245, 185, 73);
    .up-arrow {
      // color: rgb(245, 185, 73);
      color: rgb(245, 185, 73);
      //  background-color: ;
    }
  }
  .go-up.visible {
    display: block;
    font-size: 2rem;
    padding: 0px 6px 2px 6px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    border: 3px solid rgb(245, 185, 73);
    color: white;
    // background-color: #fee6b8;
    background-color: rgb(245, 185, 73);
    z-index: 1000;
    .up-arrow {
      // color: rgb(245, 185, 73);
      color: white;
      //  background-color: ;
    }
  }
}
